@import url(http://fonts.googleapis.com/css?family=Bree+Serif);



tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
        background-color: #000;

}
tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) {
        background-color: #F8F8F7;

}
table {
        width: 640px;
        height: 640px;
        border-spacing: 0px;
        margin: 0px auto;
}
td{
  width:80px;
  background-size: 80px 80px;
  background-image: contain;
}
table{
  border:1px solid black
}
h1 {
        text-align: center;
        font-family: 'Bree Serif', serif;
        margin-bottom: .2em;
}
body {
        background-color: #C1BDB8;

}
.highlight {
        background-color: #aab668;
}

#players-turn {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 1.3em;
  color: #4A4943;
  margin-top: .5em;

}
